{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Django Docker</title>
</head>
<body>
    <div class="site">
        {% include 'partials/nav.html' %}
        
        <main>
            <div class="site-content">
                {% block content %}
        
                {% endblock content %} 
            </div>
        </main>
        <footer>
            <div class="site-footer bg-primary">
                <div class="container">
                    <p>
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                        All rights reserved by <a href="{% url 'pages:home' %}">DjDocker</a>.
                    </p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>