<header>
    <div class="site-header">
        <nav class="navbar navbar-expand-sm bg-primary navbar-dark">
            <a class="navbar-brand" href="{% url 'pages:home' %}">DjDocker</a>
            <button class="navbar-toggler" data-toggle="collapse" type="button" data-target="#collapsibleNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse" id="collapsibleNav">
                <ul class="navbar-nav">
                    <li class="nav-item"><a href="{% url 'pages:home' %}" class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="{% url 'upload:upload' %}" class="nav-link">Upload</a></li>
                    <li class="nav-item"><a href="{% url 'pages:about' %}" class="nav-link">About</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
